[flake8]
ignore =
    # Line length handled by black.
    E501,
    # Line break before binary operator, preferred formatting for black.
    W503,
    # Whitespace before ':', preferred formatting for black.
    E203,
per-file-ignores =
    # Most function arguments are not used.
    marketplace_standard_app_api/main.py: U100
    # Most function arguments are not used.
    marketplace_standard_app_api/routers/*.py: U100
    tests/*: U100, U101
