---
repos:

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.3.0
      hooks:
          - id: check-json
          - id: check-toml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: trailing-whitespace

    - repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
      rev: 0.2.2
      hooks:
          - id: yamlfmt

    - repo: https://github.com/psf/black
      rev: 22.6.0
      hooks:
          - id: black

    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            args: [--profile, black, --filter-files]

    - repo: https://github.com/asottile/pyupgrade
      rev: v2.37.3
      hooks:
          - id: pyupgrade
            args: [--py38-plus]

    - repo: https://github.com/PyCQA/flake8
      rev: 5.0.4
      hooks:
          - id: flake8
            args: [--count, --show-source, --statistics]

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.971
      hooks:
          - id: mypy
            language_version: '3.10'
            additional_dependencies:
                - click==8.1.3
                - fastapi==0.75.2
                - pydantic==1.9.0
                - pytest==7.1.2
                - types-requests==2.27.27
                - types-ujson==4.2.1
            args: [--config-file=pyproject.toml]

    - repo: https://github.com/sirosen/check-jsonschema
      rev: 0.17.1
      hooks:
          - id: check-github-workflows

    - repo: local

      hooks:

          - id: sync-openapi-json
            name: sync-openapi-json
            entry: python -m marketplace_standard_app_api show --output=./openapi.json
            language: python
            language_version: '3.10'
            types_or: [json, python]
            pass_filenames: false
            additional_dependencies:
                - click==8.1.3
                - email-validator==1.2.1
                - fastapi==0.75.2
                - python-multipart==0.0.5
                - requests==2.26.0
